---
layout: compress
---

{% assign dateStart = site.birthdate | date: '%s' %}
{% assign nowTimestamp = 'now' | date: '%s' %}

{% assign diffSeconds = nowTimestamp | minus: dateStart %}
{% assign age = diffSeconds | divided_by: 31557600 %}


<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <h1>
          {{ site.title }}
        </h1>
        <h2>
          I am a <span id="typewriter"></span>
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">

    <a href="{{ site.url }}"><span class="posts-link home-link">HOME</span></a>
    <a href="{{ site.url }}/publications" title="publications"><span class="posts-link publications-link">PUBLICATIONS</span></a>
    <a href="{{ site.url }}/blog" title="posts"><span class="posts-link">BLOG</span></a>

    <div class="content">
      <div class="about-info">
        <h1 id="about-me">About me</h1>
        <p>Hi, my name is Guillaume. I'm {{ age }} years old. I graduated from <a href="https://telecomnancy.univ-lorraine.fr/" target="_blank">TELECOM Nancy</a>, University of Lorraine in 2017.</p>
        <p>Since then, I venture across the 🌎 to gain rich experiences from working in the most wonderful places. My first opportunity was in Maryland at <a href="https://nist.gov" target="_blank">NIST</a> in the Software Quality group.</p><p>Then, I challenged myself by embarking on the PhD journey in the <a href="https://www.uni.lu/snt-en/research-groups/SerVal/" target="_blank">Security, Reasoning and Validation (SerVal) group</a> at the University of Luxembourg in partnership with <a href="https://www.paypal.com/" target="_blank">PayPal</a>.  My <a href="https://orbilu.uni.lu/bitstream/10993/55472/1/PhD_Thesis.pdf">🎓 PhD thesis</a> was about leveraging Machine Learning techniques to improve Software Testing and Reliability at scale. Have a look at my <a href="https://scholar.google.com/citations?user=Vh3_f_AAAAAJ" target="_blank"> Google Scholar</a> if you are more interested in my research outcomes!</p>
        <p>Recently, my adventures brought me to The Netherlands  where I continue my R&D activities as a Research Fellow at the <a href="https://www.esa.int/">European Space Agency</a> 🚀 in the Software Product Assurance section.</p>
        <p>I love creating app from scratch, minimalist design and working late at night.</p>
        <p>Chess is one of my new hobbies, <a href="https://lichess.org/@/Pyxouze" target="_blank">ask me</a> to play with you !</p>
      </div>
    </div>
    
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script>
    var app = document.getElementById('typewriter');

    var typewriter = new Typewriter(app, {
      loop: true,
      delay: 75,
    });

    typewriter
      .pauseFor(500)
      .typeString('Research Scientist')
      .pauseFor(500)
      .deleteChars(18)
      .typeString('Software Engineer')
      .pauseFor(500)
      .deleteChars(16)
      .typeString('pace Enthusiast')
      .pauseFor(500)
      .start();
  </script>
</body>
</html>
