---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
        <h1>
          {{ site.title }}
        </h1>
        <h2>
          I am a <span id="typewriter"></span>
        </h2>
        {% include social-links.html %}
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">

    <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link">POSTS</span>
<!-- 
    <a href="{{ site.url }}/projects" title="project" class="projects-menu-icon"></a>
    <span class="projects-link">PROJECTS</span> -->

    <div class="content">
      <div class="about-info" style="text-align: justify;">
        <h1 id="about-me">About me</h1>
        <p>Hello, my name is Guillaume. I'm {% age '1993-11-14' %} years old. I graduated from <a href="https://telecomnancy.univ-lorraine.fr/" target="_blank">TELECOM Nancy</a>, University of Lorraine in 2017.</p>
        <p>After 2 wonderful years spent in Maryland working at <a href="National Institute of Standards and Technology" target="_blank">NIST</a> in the Software Quality Group, I decided to jump on the PhD adventure in the <a href="https://wwwfr.uni.lu/snt/research/serval" target="_blank">Security, Reasonning and Validation (SerVal) team</a> at the University of Luxembourg in partnership with <a href="https://www.paypal.com/" target="_blank">PayPal</a>'s headquarters in San Jose, CA.</p>
        <p>Over more than 4 years, I continued my research in the area of Software Quality and Assurance. My thesis was about Machine Learning for Continuous Integration, Real Time Incident Detection and Root Cause Analysis. Have a look at my <a href="https://scholar.google.com/citations?user=Vh3_f_AAAAAJ" target="_blank"> Scholar</a> if you are more interested in my research outcomes!</p>
        <p>I love creating app from scratch, minimalist design and working late at night.</p>
        <p>Chess is one of my new hobbies, <a href="https://lichess.org/@/Pyxouze" target="_blank">ask me</a> to play with you !</p>
      </div>
    </div>
    
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/canvas.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script>
    var app = document.getElementById('typewriter');

    var typewriter = new Typewriter(app, {
      loop: true,
      delay: 75,
    });

    typewriter
      .pauseFor(500)
      .typeString('Research Scientist')
      .pauseFor(500)
      .deleteChars(18)
      .typeString('Software Engineer')
      .pauseFor(500)
      .deleteChars(17)
      .typeString('Space Enthusiast')
      .pauseFor(500)
      .start();
  </script>
</body>
</html>
